.container {
    margin: auto;
    width: 864px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: large;
}